html,
body {
   min-height: 100%;
}
body {
   margin: 0;
   padding: 0;
   font-family: "Nunito Sans", sans-serif;
   background-color: #faf6f7;
}

h1,
h2 {
   font-family: "Roboto Slab", serif !important;
}
button {
   font-family: "Nunito Sans", sans-serif !important
    ;
}
.pl-2 {
   padding-left: 30px;
}
span[id*="_validator"] {
   display: block;
   margin-bottom: 5px;
}
.valid {
   color: #28a745 !important;
}
.d-none {
   display: none;
}
form {
   width: 100%;
}

input {
   width: 86%;
   height: 30px;
   padding-left: 15px;
   padding-right: 5px;
   outline: none !important;
   font-size: 16px;
}
input,
select,
.checker {
   background: #fff;
   border: 1px solid #186acf;
}

input:focus {
   border: 1px solid #186acf;
   border-radius: 0;
}
.container {
   width: 92%;
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
}
.active {
   color: #186acf !important;
}
.center {
   margin: 50px auto 10px;
   width: 50%;
}

.logo {
   margin-top: 20px;
}
.logo img {
   height: 40px;
   width: 40px;
}
.logo .logo-text {
   font-weight: bold;
   font-size: 25px;
   display: flex;
   justify-content: center;
   color: #6a6a6a;
   margin-bottom: 0 !important;
}
.logo .logo-text span {
   margin-left: 10px;
   padding-top: 5px;
}
.logo h3 {
   margin-top: 3px;
   font-family: "Roboto Slab", serif !important;
   flex: 0 0 100%;
   max-width: 100%;
   font-weight: bold;
   font-size: 25px;
   text-align: center;
   color: #f08400;
}
.reg-form {
   margin-top: 10px;
}
.reg-form {
   margin-top: 10px;
}
.reg-form .form-title {
   text-align: center;
   font-weight: bold;
   font-size: 18px;
   text-align: center;
   color: #000;
}
.form {
   display: flex;
   justify-content: center;
   padding: 15px;
}
.reg-form .footer {
   width: 100%;
   display: block;
}
.reg-form .form .form-group .label {
   margin: 20px auto 7px;
}
.reg-form .form .form-group .label img {
   width: 20px;
   height: 20px;
   vertical-align: -webkit-baseline-middle;
}
.reg-form .form .form-group .label span {
   font-weight: bold;
   font-size: 16px;
   text-align: center;
   color: #000;
   padding-bottom: 5px;
}
.tel-input {
   display: flex;
}
.tel-input,
.text-input {
   margin-top: 5px;
   padding-left: 30px;
   position: relative;
}
.tel-input .code {
   flex: 0 0 35%;
   max-width: 35%;
}
.tel-input .tel-num {
   flex: 0 0 57%;
   max-width: 57%;
}
.tel-input .code select {
   height: 35px;
   background: white;
   font-weight: bold;
   font-size: 16px;
   text-align: center;
   color: #5c5c5c;
   position: relative;
   width: 90%;
}

.tel-input .code select option img {
   position: absolute;
   height: 50px;
   width: 50px;
   top: 0;
   left: 0;
}

.text-input input,
.tel-input input {
   margin-bottom: 10px;
   position: relative;
}

.error {
   border-color: #dc3545 !important;
   color: #dc3545;
}
.checker {
   margin-left: auto;
   margin-right: auto;
   padding: 5px;
}

.checker ul {
   list-style-type: none;
   padding: 0 !important;
}

.checker ul li {
   margin-bottom: 5px;
}

.checker ul li i,
i {
   vertical-align: bottom;
   margin-right: 5px;
   font-size: 24px;
   color: #bcbcbc;
}
.eye {
   position: absolute;
   right: 10%;
   z-index: 1;
   top: 5px;
   cursor: pointer;
}
.eye:hover {
   color: #186acf;
}
.submit {
   text-align: center;
   margin-top: 15px;
}
.fw-bold {
   font-weight: bold;
   font-size: 16px;
}
.btn-submit {
   background-color: #186acf;
   color: white !important;
   text-align: center;
   padding: 11px 35px;
   border: none;
   cursor: pointer;
   font-weight: bold;
   background-image: url(/icons/btn-bg.svg);
   width: 11em;
   background-position: center;
   font-size: 17px;
}

.btn-submit:disabled,
.btn-submit[disabled] {
   border: 1px solid #999999;
   background-color: #cccccc;
   color: #666666;
}
.footer {
   text-align: center;
}
/* ****************** */
/* MEDIA QUERIES  */
/* ****************** */

@media (min-width: 576px) {
   .container {
      max-width: 540px;
   }
}

@media (min-width: 768px) {
   .container {
      max-width: 720px;
   }
}

@media (min-width: 992px) {
   .container {
      max-width: 960px;
   }
}

@media (min-width: 1200px) {
   .container {
      max-width: 1140px;
   }
}

@media (max-width: 576px) {
   .center {
      width: 100%;
   }
}
